.slients__wrapper {
  text-align: center;

  span {
  }
  padding-top: 80px;
}

.slients__items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 0;
  padding: 0;
  gap: 10px;
}

@media (max-width: 800px) {
  .slients__items {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
  }
}

@media (max-width: 800px) {
  .slients__wrapper {
    h2 {
      font-size: 32px;
    }
  }
}
