.service_list__wrapper {
  display: flex;

  padding: 0;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1159px) {
  .service_list__wrapper {
    display: flex;

    padding: 0;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10%;
  }
}
