.option__wrapper {
  select {
    width: 285px;
    height: 52px;
    margin-top: 8px;
    border-radius: 4px;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    background-color: #f4f5f6;
    color: #9a9ca5;
    padding-left: 15px;
    box-sizing: border-box;
  }
}
