.service__page {
  min-height: 100vh;

  background-image: url("../../Images/bg-image_figures.png"),
    url("../../Images/bg-image_figures.png");
  background-position: 1200px 50%, -350px 90%;

  background-repeat: no-repeat;
}
