.service_item {
  width: 285px;
  height: 285px;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  background-size: 0;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #e5e8ed;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: 0px 12px 32px -21px rgba(34, 60, 80, 1);
  -moz-box-shadow: 0px 12px 32px -21px rgba(34, 60, 80, 1);
  box-shadow: 0px 12px 32px -21px rgba(34, 60, 80, 1);

  cursor: pointer;

  .bg_layout {
    display: none;
  }

  h3 {
    font-size: 20px;
  }

  .service_item__title {
    z-index: 55;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &:hover {
    background-size: cover;

    opacity: 1;
    svg {
      path {
        fill: white;
      }
      g {
        path {
          fill: white;
        }
      }
    }

    h3 {
      color: white;
    }
    .bg_layout {
      display: flex;
      background-color: #0000006e;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: 4px;
    }
  }
}

.service_item__full {
  width: 230px;
  height: 154px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

  h3 {
    font-size: 16px;
    color: #9a9ca5;
    margin-top: 16px;
  }
}

.active {
  background-color: var(--accentColor);

  transition: 0.2s;

  -webkit-box-shadow: 0px 38px 71px 9px #ff593065;
  -moz-box-shadow: 0px 38px 71px 9px #ff593065;
  box-shadow: 0px 18px 51px 9px #ff593065;

  h3 {
    color: white;
  }
  svg {
    path {
      fill: white;
    }
    g {
      path {
        fill: white;
      }
    }
  }
}

@media (max-width: 1159px) {
  .service_item {
    margin-bottom: 10%;
  }
}
