:root{

  --accentColor: #FF5A30;
  --greyColorTitle: #1E212C;
  --greyColorText: #787A80;


}

body {
margin: 0;
padding: 0;
font-family: "Ubuntu", sans-serif;
background-color: #fff;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

   
}

h2, h3{
  margin: 0;
  padding: 0;
}

.paragraph_title{
  text-shadow: 2px 3px 5px rgba(35, 0, 0, 0.5);
  font-size: 18px;
  line-height: 150%;
  color: var(--greyColorText);
  text-align: center;
}

h2{
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  color: var(  --greyColorTitle);
  text-shadow: 2px 3px 5px rgba(35, 0, 0, 0.5);
  text-align: center;
}


.active  {
  color: var( --accentColor) !important;
}


@media (max-width: 1229px){
  .container{
    /* max-width: 1200px ; */
    /* margin: 0 auto; */

   
  }
}



@media (max-width: 375px){

  .main{
     min-width: 375px;
  }
 
  .container{
    width: 315px;
    margin: 0 auto;
  
  }
}


/* 
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

/* .lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
} */