:root{

  --accentColor: #FF5A30

}

body {
margin: 0;
padding: 0;
font-family: "Ubuntu", sans-serif;
background-color: #fff;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

   
}


.active  {
  color: var( --accentColor) !important;
}


@media (max-width: 1229px){
  .container{
    /* max-width: 1200px ; */
    /* margin: 0 auto; */

   
  }
}



@media (max-width: 375px){

  .main{
     min-width: 375px;
  }
 
  .container{
    width: 315px;
    margin: 0 auto;
  
  }
}


/* 
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

/* .lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
} */