:root{

  --accentColor: #FF5A30

}

body {
margin: 0;
padding: 0;
font-family: "Ubuntu", sans-serif;
background-color: #fff;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
 
}


.active  {
  color: var( --accentColor) !important;
}


@media (max-width: 1024px){
  .container{
    max-width: 887px;
    margin: 0 auto;
    background-color: #c9e2b9;
  }
}



@media (max-width: 375px){

  .main{
     min-width: 375px;
  }
 
  .container{
    width: 315px;
    margin: 0 auto;
    background-color: #6786ec;
  }
}


/* 
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

/* .lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
} */